<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>

    <div class="message-board">
        <h1>Message Board</h1>

        <div class="message-list">
        <% if (messages.length > 0) { %>
            <% messages.forEach(function(message) { %>
                <a href="/<%= message.id %>" class="message-link">
                    <div class="message">
                        <div class="message-user"><%= message.username %></div>
                        <div class="message-text"><%= message.text %></div>
                        <div class="message-added"><%= message.added %></div>
                    </div>
                </a>
            <% }) %>
        <% } else { %>
            <p>No messages yet. Be the first to post!</p>
        <% } %>
        </div>
    </div>

    <div>
        <button>
            <a href="/new" class="button">New message</a>
        </button>
    </div>

    <%- include('footer'); %>
</body>
</html>